.create-edit-wrapper {
  width: 40%;
  height: 96%;
  background-color: #f8f8f8;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 20px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-weight: 500;
    color: #0f506f;
  }
  span {
    display: block;
    font-weight: 900;
    color: #0f506f;
    cursor: pointer;
  }
}
.name-color-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  .name-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      height: 45px;
      margin-top: 10px;
      background-color: white;
      padding: 0 10px;
      border: none;
      box-shadow: 0px 3px 6px #00000029;
      &:focus {
        outline: none;
      }
    }
  }
  .color-picker-wrapper {
    display: flex;
    flex-direction: column;
    .color-picker {
      width: 45px;
      height: 45px;
      margin-top: 10px;
      box-shadow: 0px 3px 6px #00000029;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
.tag-description-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  textarea {
    padding: 10px;
    margin-top: 15px;
    background-color: white;
    padding: 0 10px;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    &:focus {
      outline: none;
    }
  }
}
.save-cancel-wrapper {
  display: flex;
  justify-content: space-between;
  button {
    text-transform: uppercase;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid grey;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    cursor: pointer;
    &.save-btn {
      background-color: #2BAE6D;
      color: white;
      border: none;
    }
    &:active {
      transform: translateY(1px);
    }
  }
}
