<div class="create-edit-wrapper shadow">
  <form [formGroup]="form" (submit)="submit()">
    <div>
      <div class="header-wrapper">
        <h2>{{ dataService.isEditDelete ? 'Edit item' : 'Create new one' }}</h2>
        <span class="material-icons" (click)="closeCreation()">close</span>
      </div>
      <div class="name-color-wrapper">
        <div class="name-wrapper">
          <label for="#Title">Title</label>
          <input
            id="Title"
            class="form-input shadow mt-15"
            type="text"
            placeholder="Type tag title..."
            [formControl]="fc('Title')"
          >
          <span class="error" *ngIf="fc('Title').touched && fc('Title').hasError('required')">Type a title please</span>
        </div>
        <div class="color-picker-wrapper">
          <label for="#Color">Color</label>
          <div
            id="Color"
            class="color-picker shadow"
            ngx-colors-trigger
            [style.background]="color"
            [(ngModel)]="color"
            [formControl]="fc('Color')"
          >
          </div>
          <span class="error" *ngIf="fc('Color').touched && fc('Color').hasError('required')">Choose a color please</span>
        </div>
      </div>
      <div class="tag-description-wrapper">
        <label for="#'Created By">Created By</label>
        <input
          id="'Created By'"
          class="form-input shadow mt-15"
          type="text"
          placeholder="Type tag created by..."
          [formControl]="fc('Created By')"
          >
        <span class="error" *ngIf="fc('Created By').touched && fc('Created By').hasError('required')">Type your name please</span>
      </div>
    </div>

    <div class="save-cancel-wrapper">
      <div>
        <button type="button" (click)="closeCreation()">
          <span class="material-icons">cancel</span>
          <span class="desktopOnly">CANCEL</span>
        </button>
        <button type="button" class="delete-btn" *ngIf="dataService.isEditDelete" (click)="deleteItem()">
          <span class="material-icons">delete</span>
          <span class="desktopOnly">DELETE</span>
        </button>
        <button type="submit" class="save-btn" [disabled]="form.invalid">
          <span class="material-icons">{{ dataService.isEditDelete ? 'edit' : 'save' }}</span>
          <span class="desktopOnly">{{ dataService.isEditDelete ? 'EDIT' : 'SAVE' }}</span>
        </button>
      </div>
      <span class="error mt-15" *ngIf="form.touched && form.invalid">
        Please add current values
      </span>
    </div>
  </form>

</div>
