@import '../../../styles-colors.scss';

.create-edit-wrapper {
  width: 40%;
  height: 96%;
  background-color: $white3-color;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 20px 20px 50px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-weight: 500;
    color: $dark-blue-color;
  }
  span {
    display: block;
    font-weight: 900;
    color: $dark-blue-color;
    cursor: pointer;
  }
}
.name-color-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  .name-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .color-picker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .color-picker {
      width: 45px;
      height: 45px;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
.tag-description-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.save-cancel-wrapper {
  & > span {
    text-align: center;
    display: block;
  }
  & > div {
    display: flex;
    justify-content: space-between;
  }
  button {
    text-transform: uppercase;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid $main-grey-color;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
    &.save-btn {
      background-color: $btn-green;
      color: $white3-color;
      border: none;
    }
    &.delete-btn {
      background-color: $btn-red;
      color: $white3-color;
      border: none;
    }
    &:active {
      transform: translateY(1px);
    }
  }
}

.desktopOnly {
  display: block;
}

@media only screen and(max-width: 768px) {
  .create-edit-wrapper {
    width: 60%;
    padding: 20px;
  }
  .name-color-wrapper {
    flex-direction: column-reverse;
    .color-picker-wrapper {
      .color-picker {
        margin-top: 15px;
      }
    }
  }
  .desktopOnly {
    display: none;
  }
}
