@import '../../../../styles-colors.scss';

.cube {
  width: 205px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $white2-color;
  cursor: pointer;
  .color-wrapper {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    .color-cube {
      border-radius: 10px;
      width: 100px;
      height: 100px;
    }
  }
  .title-wrapper {
    background-color: $light-grey;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 18px;
    }
  }
  &:hover {
    border: 1px solid $blue-color;
    .color-wrapper {
      .color-cube {
        width: 110px;
        height: 110px;
        transition: 0.5s;
      }
    }
    .title-wrapper {
      h2 {
        font-size: 20px;
        color: $blue-color;
      }
    }
  }
}
