<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th *ngFor="let h of headers">
          <i class="material-icons" [ngClass]="{'arrowUp': isReverseSorting}">south</i>
          <span (click)="sortTableBy(h)">{{ h }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of data" (click)="editItem(dataItem?.id)">
        <td *ngFor="let h of headers">
          <ng-container [ngSwitch]="h">
            <div  *ngSwitchCase="'Color'" class="color-item" [ngStyle]="{ 'background-color': dataItem[h] }"></div>
            <span *ngSwitchCase="'Create Date'">{{ dataItem[h] | date: 'dd/MM/yyyy' }}</span>
            <span *ngSwitchCase="'Last Update'">{{ dataItem[h] | date: 'dd/MM/yyyy' }}</span>
            <span *ngSwitchDefault>{{ dataItem[h] }}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
