<div class="main-wrapper" style="position: relative;">
  <div class="input-wrapper">
    <input type="text" placeholder="URL" class="b-shadow">
    <button class="b-shadow">GO</button>
  </div>
  <div class="management-tools">
    <h1>
      Management Tool
    </h1>
    <div class="management-elements">
      <button>
        <span class="material-icons">grid_view</span>
      </button>
      <button>
        <span class="material-icons">menu</span>
      </button>
      <button>
        <span class="material-icons">add_circle</span>
      </button>
    </div>
  </div>
  <div class="find-wrapper">
    <span class="material-icons">search</span>
    <input type="text" placeholder="Find by name..." class="b-shadow">
  </div>
  <div class="table-wrapper" *ngIf="!isCube">
    <table>
      <thead>
        <tr>
          <th>Color</th>
          <th>Name</th>
          <th>Create Date</th>
          <th>Last Update</th>
          <th>Created By</th>
        </tr>
      </thead>
      <tbody>
        <tr class="b-shadow">
          <td>Red</td>
          <td>Car Accident</td>
          <td>23/02/2022</td>
          <td>20/03/2022</td>
          <td>John Smith</td>
        </tr>

        <tr class="b-shadow">
          <td>Red</td>
          <td>Car Accident</td>
          <td>23/02/2022</td>
          <td>20/03/2022</td>
          <td>John Smith</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="cubes-wrapper">
    <div class="cube b-shadow">
      <div class="color-wrapper">
        <div class="color-cube"></div>
      </div>
      <div class="title-wrapper">
        <h2>Car Accident</h2>
      </div>
    </div>
    <div class="cube b-shadow">
      <div class="color-wrapper">
        <div class="color-cube"></div>
      </div>
      <div class="title-wrapper">
        <h2>Car Accident 3</h2>
      </div>
    </div>
  </div>
  <app-create-edit></app-create-edit>
</div>
