$blue-color: #007AF9;
$hover-grey-color: #0E4F6E;
$main-grey-color: #749aac;
$light-grey: #cbcbcb;
$text-grey-color: #797979;
$shadow-color: #00000029;
$white2-color: #ebeff2;
$white3-color: #f8f8f8;
$dark-blue-color: #0f506f;

$btn-green: #2BAE6D;
$btn-red: #ae2b2b;
