@import '../../../styles-colors.scss';

.find-wrapper {
  position: relative;
  margin-top: 18px;
  input {
    // width: 100%;
    width: -webkit-fill-available;
    height: 60px;
    padding-left: 50px;
    font-size: 18px;
    border: none;
  }
  span {
    position: absolute;
    z-index: 10;
    font-size: 27px;
    color: $light-grey;
    transform: translateY(60%);
    left: 10px;
  }
}
